<template>
    <div class="navbar">
        <v-app-bar fixed rounded tile>
                <v-toolbar-title class="text-uppercase grey--text" style="cursor: pointer" @click="$router.push('/posts')">
                    <span class="font-weight-light">Super</span>
                    <span>Blog</span>
                </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-menu v-if="isAuthenticated" open-on-hover offset-y>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" class="grey--text">{{ loggedInUser.user_name }}</v-btn>
                    </template>
                    <v-card class="mx-auto" max-width="300" tile>
                    <v-list dense>
                        <v-list-item-group color="primary">
                            <v-list-item router to="/profile">
                                <v-list-item-action>
                                    <v-list-item-title class="grey--text">My profile</v-list-item-title>
                                </v-list-item-action>
                            </v-list-item>
                            <v-list-item @click="logout" router to="/">
                                <v-list-item-action>
                                    <v-list-item-title class="grey--text">Log out</v-list-item-title>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-card>
                </v-menu>
                <v-btn v-if="!isAuthenticated" to="/register" class="grey--text">Sign Up</v-btn>
                <v-btn v-if="!isAuthenticated" to="/login" class="grey--text">login</v-btn>
            </v-toolbar-items>
        </v-app-bar>
    </div>
</template>
    
<script>
import { mapGetters } from 'vuex'

export default {
  methods: {
    async logout() {
        await this.$auth.logout()
    }
  },
    computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser'])
    }
}
</script>

<style>
    .navbar {
        margin-bottom: 64px;
    }
</style>