<template>
    <v-card @click="$emit('postClick')" class="post">
        <v-img
            class="white--text align-end"
            height="300px"
            :src="imgUrl"
        >
            <v-card-title><slot name="title">Blog title</slot></v-card-title>
        </v-img>

        <v-card-subtitle class="pb-0">
            <slot name="date">creation date</slot>
        </v-card-subtitle>
        <v-card-text class="text--primary">
            <slot name="description">Blog description [...]</slot>
        </v-card-text>


    </v-card>
</template>

<script>
export default {
  props: {
    imgUrl: { 
      type: String,
      default: "https://www.redhouseoriginals.com/wp-content/uploads/dark-placeholder.png",
      required: false
    },
  },
    name:"singlePostComponent",
}
</script>

<style>
</style>