<template>
    <v-card height="100%">
        <v-card-title>{{ this.post.title }}</v-card-title>
        <v-card-text>{{ this.post.body }}</v-card-text>
    </v-card>
</template>

<script>
export default {
    data () {
        return {
            post: {}
        }
    },
    async beforeMount () {
        const res = await this.$axios.get(`/post/${this.$route.params.id}`)
        this.post = res.data
    }
}
</script>