<template>
    <v-app>
        <Navbar />
        <Nuxt />
    </v-app>
</template>

<script>
import Navbar from '../components/NavBar.vue';
    export default {
    name: "defaultLayout",
    components: { Navbar }
}
</script>