<template>
  <section class="section">
    <div class="container">
      <h1 class="title">Nuxt Auth</h1>
    </div>
  </section>
</template>

<script>
export default {
    name: "IndexPage"
}

</script>