<template>
    <v-app>
        <h2>Login</h2>
        <form method="post" @submit.prevent="login">
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="6">
                        <v-text-field v-model="username" label="username" :rules="[rules.required]" />
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-text-field
                            :append-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
                            v-model="password"
                            label="password"
                            :type="showPwd ? 'text' : 'password'"
                            :rules="[rules.required]"
                            @click:append="showPwd = !showPwd"
                            />
                    </v-col>
                </v-row>
            </v-container>
            <v-btn type="submit">Login</v-btn>
        </form>
    </v-app>
</template>

<script>

export default {
    name:"registerComponent",
    data () {
        return {
            showPwd: false,
            username: '',
            password: '',
            error: null,
            rules: {
                required: value => !!value || 'Required.'
            }
        }
    },
    methods: {
        async login() {
            await this.$auth.loginWith('local', {
                    data: {
                        username: this.username,
                        password: this.password
                    },
                })
        }
    },
}
</script>