<template>
    <v-app class="px-16">
        <v-container fluid>
            <v-row>
                <v-col v-for="post of posts" :key="post.id" cols="6">
                        <Post :imgUrl="post.image_url" class="mx-12" @postClick="$router.push(`/post/${post.id}`)">
                            <template v-slot:date>
                                {{ new Date(post.creation_date).toDateString() }}
                            </template>
                            <template v-slot:description>
                                {{ post.body }}
                            </template>
                        </Post>
                </v-col>
            </v-row>
        </v-container>
    </v-app>
</template>

<script>
import Post from '../components/postPreview.vue';
export default {
    name: "postsComponent",
    data () {
        return {
            posts: []
        }
    },
    async beforeMount () {
        const res = await this.$axios.get('/posts')
        this.posts = res.data

        this.posts.map(post => {
            const creationDate = new Date(post.creation_date)
            creationDate.toLocaleDateString()
        })
    },
    components: { Post }
}
</script>