<template>
    <v-app>
        <h2>My profile</h2>
        <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="6">Username : {{ this.$auth.user.user_name }}</v-col>
                    <v-col cols="12" sm="6">email : {{ this.$auth.user.email }}</v-col>
                </v-row>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "myProfile",
    }
</script>