<template>
    <v-app>
        <h2>Register</h2>
        <form method="post" @submit.prevent="register">
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="6">
                        <v-text-field v-model="username" label="username" :rules="[rules.required, rules.usernameNotTaken]" />
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-text-field v-model="email" label="email" :rules="[rules.required, rules.emailMatch]" />
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-text-field
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                            v-model="password"
                            label="password"
                            :type="show1 ? 'text' : 'password'"
                            :rules="[rules.required, rules.min]"
                            @click:append="show1 = !show1"
                            />
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-text-field
                            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                            v-model="matchPassword"
                            label="password"
                            :type="show2 ? 'text' : 'password'"
                            :rules="[rules.required, rules.matchPasswords]"
                            @click:append="show2 = !show2"
                            />
                    </v-col>
                </v-row>
            </v-container>
            <v-btn type="submit">Register</v-btn>
        </form>
        <div style="margin-top: 20px">
            Already got an account ? <nuxt-link to="/login">Login</nuxt-link>
        </div>
    </v-app>
</template>

<script>

export default {
    name:"registerComponent",
    data () {
        return {
            show1: false,
            show2: false,
            takenUsernames: [],
            username: '',
            email: '',
            password: '',
            matchPassword: '',
            error: null,
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 8 || 'Min 8 characters',
                matchPasswords: value => value === this.password || "Passwords don't match",
                usernameNotTaken: value => this.takenUsernames.findIndex(e => e.user_name === value) === -1 || "username is taken",
                emailMatch: value => {
                    const pattern = /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/g
                    return pattern.test(value) || 'invalid email'
                },
            }
        }
    },
    beforeMount() {
        this.$axios.get('/usernames').then(res => this.takenUsernames = res.data)
    },
    methods: {
        async register () {
            try {
                await this.$axios.post('register', {
                    username: this.username,
                    email: this.email,
                    password: this.password
                })

                await this.$auth.loginWith('local', {
                    data: {
                        email: this.email,
                        password: this.password
                    },
                })

                this.$router.push('/')
            } catch (e) {
                this.error = e.response.data.message
            }
        },
    },
}
</script>